<div class="container">
    <table class="col-md-6 offset-3 mt-4 table-bordered" style="border: 1px solid black">
        <thead style="border: 1px solid black">
            <tr>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody style="border: 1px solid black">
            <tr>
                <td>Abinash</td>
                <td>123456</td>
            </tr>
            <tr>
                <td>Abin</td>
                <td>789456</td>
            </tr>
        </tbody>
    </table>
</div>