<div class="col-md-4 offset-4 card card-body mt-5">
    <input type="text" [(ngModel)] = "dataFromInput" class="form-control" >
    
</div>
<!-- <h1 class="text-center">{{dataFromInput}}</h1> -->
<!-- <img src="{{dataFromInput}}" alt=""> -->
<!-- <button class="btn btn-primary" onclick='alert("Hello how are you?")'>Give alert</button> -->
<!-- <button class="btn btn-primary" (click)='buttonEvent(dataFromInput)'>Give alert</button> -->
<h1 class="text-center" [style.background]="backgroundColor">Event and Property Binding</h1>
<button class="btn btn-primary"style="margin-left: 45%;" (click) ='changeColor(dataFromInput)' >Change Color</button>


