#back{
    background-color: rgb(245, 243, 243);
    background-image: url('C:/Users/Abinash/Desktop/UST Global/Boot Strap/ASSIGNMENT/header-bg.png');
    background-position-y: 125%;
    background-size: 50%  ;
    background-repeat: no-repeat;
    background-position-x: right;
}