<div>
    <div class="row">
            <div class="col-md-3">
                <div class="card card-body mt-2" *ngFor="let sports of sportsNews">
                    <img src="{{sports.urlToImage}}" alt="" class="card-img-top">
                    <h3>{{title}}</h3>
                    <p>{{sports.description}}</p>
                    <a href="{{sports.url}}" class="btn btn-primary">Click here for more info...</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body col-md-12 mt-2" *ngFor="let science of scienceNews">
                    <img src="{{science.urlToImage}}" alt="" class="card-img-top">
                    <h3>{{title}}</h3>
                    <p>{{science.description}}</p>
                    <a href="{{science.url}}" class="btn btn-primary">Click here for more info...</a>
                </div>
            </div>
            <div class="col-md-3">
            <div class="card card-body col-md-12 mt-2" *ngFor="let health of healthhNews">
                <img src="{{health.urlToImage}}" alt="" class="card-img-top">
                <h3>{{title}}</h3>
                <p>{{health.description}}</p>
                <a href="{{health.url}}" class="btn btn-primary">Click here for more info...</a>
            </div>
            
        </div>
                
    </div>
</div>
