<div class="container">
    <br>
    <input type="search" class="form-control" [(ngModel)]='search' style="background-color: blanchedalmond"> <br>
    <table class="table table-bordered table-hover" style="background-color: ivory">
        <thead style="background-color: rgba(255, 255, 0, 0.589)">
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mob. No.</th>
                <th>Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of firebaseService.users | filter : search ; index as i">
                <td>{{i+1}}</td>
                <td>{{user.name  | titlecase}}</td>
                <td>{{user.email |reduce : '5' }}</td>
                <td>{{user.mobile | currency: 'INR'}}</td>
                <td>{{date | date | uppercase}}</td>
                <td>
                    <button class="btn btn-outline-warning" (click)='updateUser(user)'>Update</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)='deleteUser(user)'>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>