<!-- Normal Case -->
<!-- <h1 [ngClass]='{ "bg-success" : "isSuccess", "text-white" : "isSuccess", "text-center" : "isSuccess" }'>ngClass directives</h1> -->
<!-- *************************************************************************************************************************** -->
<!-- Array Case -->
<h1 [ngClass]='classesArray'>ngClass directives using array</h1>
<!-- <h1 [ngStyle] = '{ "padding": isSuccess ?"60px" : "0px", "background":isSuccess ? "green":"red" }'>ngStyle Directive</h1> -->
<p appMyDirective>Lorem ipsum dolor sit amet.</p>
