<nav class="navbar navbar-expand-md navbar-light "
    style="background-color: rgb(92, 43, 226);font-family: cursive;color: cornsilk">
    <a class="navbar-brand" routerLink="" style="color: cornsilk">Abin's Product</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav nav-item">
                <a class="nav-link" routerLink="/home" style="color: cornsilk">Home</a>
            </li>
            <li class="nav nav-item">
                <a class="nav-link" routerLink="/product" style="color: cornsilk">Add Product</a>
            </li>
            <li class="nav nav-item">
                <a class="nav-link" routerLink="/product-details" style="color: cornsilk">Product Details</a>
            </li>
        </ul>
    </div>
</nav>